.home-buttons {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 40px;
  }
  
  .home-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 500px; 
    height: 100px;
    background-position: center center;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 0px;
    border: none;
    border-radius: 10px;
    flex-direction: column; 
  }
  
  .home-button2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100px;
    background-position: center center;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 0px;
    border: none;
    border-radius: 10px;
    flex-direction: column;
  }
  
  .home-button {
    background-image: url('https://i.postimg.cc/XJ0GpLYq/pizza-1.jpg');
    font-size: 20px;
  }
  
  .home-button2 {
    background-color: #ff6b6b;
    font-size: 15px;
  }
  
  .home-button h1,
  .home-button2 h1 {
    font-size: 20px;
    margin: 0;
  }
  
  .home-button h2,
  .home-button2 h2 {
    font-size: 15px;
    margin: 0;
  }
  
  
  .main-carousel {
    width: 800px;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
    justify-content: center;
    display: block;
  }
  
  .carousel-cell img {
    max-width: 250px;
    float: left;
    margin-right: 20px;
  }
  
  .carousel-cell .text {
    overflow: hidden;
    float: left;
    width: calc(60% - 15px);
    box-sizing: border-box;
    padding: 10px;
  }
  
  .image-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 80px 200px 60px 200px;
  }
  
  .image {
    width: 280px;
    height: 280px;
    margin-right: 10px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  